// Fonts
$main-font: 'tt_normslight', sans-serif;
$play-font: 'Playfair Display', serif;
$ttm-italic: 'tt_normsmedium_italic', sans-serif;

// Font-size
$main-size: 12px;
$medium-size: 16px;
$big-size: 30px;

// Colors
$color-main: #767676;
$color-brown: #897358;
$color-black: #333333;
$color-black-btn: #101217;
$color-white: #fff;