.blog {
    // padding-top: 135px;

    .container-fluid,
    .container,
    .row {
        height: 100%;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__subtitle {
        margin-bottom: 30px;
        letter-spacing: 2px;
        text-align: center;
    }

    &__title {
        margin-bottom: 50px;
        
        text-align: center;
    }

    &__img {
        margin-bottom: 32px;
    }

    &__item {
        display: block;
        text-decoration: none;

        .title {
            margin-bottom: 25px;
            line-height: 30px;
            text-decoration: underline;
            text-decoration-color: rgba(16, 18, 23, 0.1);
        }

        &:hover {
            text-decoration: none;

            .blog__item-title {
                color: $color-brown;
                
            }
        } 

        &-title {
            font-size: 22px;
        }
    }

    &__images {
        // margin-bottom: 60px;
        margin-bottom: 65px;
    }

    &__button {
        
        text-align: center;

        a {
            padding: 17px 74px;
            letter-spacing: 2px;
        }
    }

}

@media all and (min-width: 1200px) {
    .blog {
        
        .container {
            max-width: 1110px;
        }
    }

}

@media all and (max-width: 991px) {
    .blog {
        padding-top: 0;
        margin-bottom: 64px;

    }
}

@media all and (max-width: 575px) {
    .blog {
        padding-top: 0;
        margin-bottom: 64px;

        &__title {
            margin-bottom: 72px;
            font-family: $play-font;
            font-size: 24px;
            line-height: 32px;
            color: $color-black;
        }

        &__subtitle {
            margin-bottom: 16px;
        }

        &__item {
            margin-bottom: 33px;

            .title {
                font-size: 20px;
                margin-bottom: 0;
            }
        }

        &__images {
            margin-bottom: 41px;
        }

        &__img {
            margin-bottom: 16px;
        }
    }
}