.company {
    padding-top: 60px;

    .container {
        height: 100%;
    }

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__title {
        margin-bottom: 1px;
    }

    &__subtitle {
        margin-bottom: 25px;   
    }

    &__text {
        margin-bottom: 40px;
        text-align: justify;
        color: $color-main;
    }

    &__img {
        width: 476px;
    }

    &__button {

        a {
            padding: 17px 85px;
            letter-spacing: 2px;
        }
    }
}

@media all and (max-width: 1199px) {
    .company {

        &__img {
            width: 100%;
        }
    }
}

@media all and (max-width: 991px) {
    .company {
        padding-top: 0;
        margin-bottom: 64px;
    }
}

@media all and (max-width: 767px) {
    .company {

        &__desc {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

@media all and (max-width: 575px) {
    .company {
        

        &__img {
            margin-bottom: 40px;
            margin-right: -15px;
            margin-left: -15px;
            width: auto;
        }

        &__title {
            margin-bottom: 16px;
            font-family: $play-font;
            font-size: 24px;
            color: $color-black;

            p {
                margin: 0;
            }
        }

        

        &__subtitle {
            margin-bottom: 32px;
            font-family: $main-font;
            font-size: $main-size;
            color: $color-brown;
            letter-spacing: 0.15em;
            text-align: center;
        }

        &__text {
            text-align: justify;
        }
    }
}